**/.git
**/.gitignore
**/.vscode
**/node_modules
**/npm-debug.log
**/dist
**/.angular
**/coverage
**/.nyc_output
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/.env
**/.env.*
**/README.md
**/*.md
